@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Weblog a Blogging Category Bootstrap responsive WebTemplate | About :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

</head>
<style>
    .anıl{
        width:300px;
        height:350px;
    }
</style>

<body>

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">About</li>
    </ol>
    <!--//banner-->
    <!--/main-->
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">WHO İS ANIL ERSİN ÇAMUR ?</h3>
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">
                        <h2>
                            COURSES AND SERTIFICATES
                        </h2>
                        <br />
                        <h6>
                            January 2022 - June 2022 
                            <br />
                            BİLGE ADAM – CERTIFICATE OF PARTICIPATION
                        </h6>
                        <br />
                        <p>
                            <strong>Course Description:</strong>
                            In this training, where I received a certificate of
                            participation, I received C#.Net, Asp.Net and MS-SQL trainings. I
                            developed a simple automation application after C# training and an ecommerce
                            application after Asp.Net lessons.
                        </p>
                    </div>
                    <div class="blog-grid-top">
                        <h2>
                            EDUCATION
                        </h2>
                        <br />
                        <h5>
                            September 2017-July 2019 ||
                            GEDIK UNIVERSITY
                        </h5>
                        <br />
                        <h6> Civil Aviation and Cabin Services-Associate Degree</h6>
                        <br />
                        <p>
                            <strong>Description of the Department:</strong>
                            Having a good knowledge of the
                            aviation industry and its relations with other industries; It aims to train
                            personnel who are knowledgeable about cabin crew duties and
                            responsibilities, security awareness and service understanding, crew
                            resource management, passenger relations, in-flight service, and aware
                            of aviation service standards.
                        </p>
                    </div>
                    <div class="blog-grid-top">
                        <br />
                        <h5>
                            September 2015- ||
                            MARMARA UNIVERSITY
                        </h5>
                        <br />
                        <h6> Computer Programing – Associate Degree</h6>
                        <br />
                        <p>
                            <strong>Description of the Department:</strong>
                            It gives the ability to define and solve
                            computer software problems by using current technologies, to analyze
                            and design a process in line with a defined goal, to analyze data, to
                            experiment, to design, to interpret application results, to use the
                            techniques and calculation tools necessary for computer software and
                            hardware applications.
                        </p>
                    </div>
                    <div class="blog-grid-top">
                        <br />
                        <h5>
                            September 2010 - June 2014
                            <br />
                            KADIKÖY HAYDARPAŞA TECHNICAL HIGH SCHOOL
                        </h5>
                        <br />
                        <h6> Information Technologies</h6>
                        <br />
                        <p>
                            <strong>Description of the Department:</strong>
                            To fix the physical and software
                            problems that may occur in the network environment, to identify the
                            server as the administrator of the computers on the network, to install
                            the server operating system to manage the computer network, to
                            make the visual design of the website, to test the designed site by
                            making a local broadcast.
                        </p>
                    </div>
                    <div class="blog-grid-top">
                        <h2>
                            EXPERIENCE
                        </h2>
                        <br />
                        <h5>
                            February 2016 - March 2017 ||
                            CARREFOURSA HEADQUARTERS
                        </h5>
                        <br />
                        <h6>
                            DATA PROCESSING – INTERN
                            Data Processing Department
                        </h6>
                        <br />
                        <p>
                            <strong>Job Description:</strong>
                            Inspecting the applications, detecting faults and
                            solving the problem in a short time, ensuring the installation of related
                            programs on the computers of the personnel, ensuring the
                            uninterrupted operation of the existing software and hardware for the
                            effective functioning of the system they have created, ensuring the
                            continuity of the communication opportunities of the personnel.
                        </p>
                    </div>
                    <div class="blog-grid-top">
                        <br />
                        <h5>
                            April 2014 – June 2014 ||
                            İSTANBUL WATER AND SEWERAGE ADMINISTRATION
                        </h5>
                        <br />
                        <h6>
                            DATA PROCESSING – INTERN
                            Data Processing Department
                        </h6>
                        <br />
                        <p>
                            <strong>Job Description:</strong>
                            Giving IP numbers to the new members of the
                            system and registering, installing the programs on the computers,
                            creating separate panels on the system where the personnel can log in
                            and manage, and give the necessary support to the personnel.
                        </p>
                    </div>
                </div>             
                    <!--//left-->
                    <!--right-->
                    <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                        <div class="right-blog-info text-left">
                            <div class="tech-btm">
                                <img src="~/Blog/images/Anıl.jpeg" class="anıl" alt="">
                            </div>
                            <div class="tech-btm">
                                <h4>My Career Goal</h4>
                                <p>
                                    To contribute to the progress
                                    of the institutions working in
                                    the sof tware and information
                                    processing process with my
                                    knowledge and skills that I
                                    have enjoyed during the
                                    internship and course training.
                                    To be able to have a say in
                                    this process and to satisfy
                                    both myself and the institution
                                    I work in, to produce new
                                    developments and facilitating
                                    solutions.
                                </p>
                            </div>
                            <div class="tech-btm">
                                <h4>Recent Posts</h4>

                                @foreach (var item in Model)
	{
                            <div class="blog-grids row mb-3">
                                <div class="col-md-5 blog-grid-left">
                                    <a href="/Home/BlogDetails/@item.ID">
                                        <img src="~/BlogImage/@item.BlogThumbnailImage" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="col-md-7 blog-grid-right">

                                    <h5>
                                        <a href="/Home/BlogDetails/@item.ID">@item.BlogTitle</a>
                                    </h5>
                                    <p>@item.BlogContent.Substring(0, item.BlogContent.Substring(0, 30).LastIndexOf(" "))...</p>
                                    <div class="sub-meta">
                                        <span>
                                            <i class="far fa-clock"></i> @(((DateTime)item.CreatedDate).ToString("dd-MMM-yyyy"))
                                        </span>
                                    </div>
                                </div>

                            </div>
	}

                            </div>
                        </div>

                    </aside>
                    <!--//right-->
                </div>
            </div>
    </section>
 
</body>

</html>

