
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 footer-grid-agileits-w3ls text-left">
                <h3>About Me</h3>
                <p>Hi, my name is Anıl, I am from Trabzon. I live in İstanbul,Kartal. I am 26 years old,I've been interested in software for about 2 years, I took various courses for this,I took both frontend and backend trainings,I will share articles on software on this page.</p>
                <div class="read">
                    <a href="/About/Index" class="btn btn-primary read-m">Read More</a>
                </div>
            </div>
            <div class="col-lg-6 footer-grid-agileits-w3ls text-left">

                @await Component.InvokeAsync("BlogLast3Post")
            </div>
            <!-- subscribe -->

        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="https://github.com/AnilErsin">
                                <i class="fab fa-github"></i>
                                <span>Github</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="https://www.instagram.com/anilersinn/">
                                <i class="fab fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                        </li>                                                
                    </ul>

                </div>
            </div>
        </div>

        <!-- //footer -->


    </div>
</footer>